.navbar-custom {
    background-color: #5f3713;
    position: sticky;
    z-index: 1000; 
    width: 100%;
}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-nav .nav-link, 
.navbar-custom .site-name, 
.navbar-nav .dropdown-toggle {
    color: #fff;
    text-decoration: none;
}

.navbar-custom .navbar-nav .nav-link:hover, 
.navbar-nav .dropdown-toggle:hover {
    color: #bd711d;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-container .logo {
    width: 50px;
    margin-right: 10px;
}

.logo-container .site-name {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
}

.navbar-toggle-checkbox {
    display: none;
}

.navbar-toggler-icon {
    background-color: #5f3713;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar-toggler-icon:hover {
    background-color: #fff;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .dropdown-menu {
    background-color: #2f2d2e;
    border: none;
    box-shadow: 0px 8px 16px #fff;
    display: none;
}